.work-experience-section,
.education-data {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  padding: 0.75rem;
}

.bold {
  font-weight: 900;
}

.semi-bold {
  font-weight: 600;
}

.company,
.school {
  display: flex;
  justify-content: space-between;
}

.company-info,
.dates,
.school-info {
  display: flex;
  gap: 0.5rem;
}

.almost-bolder {
  font-weight: 700;
}

.job-description > p,
.degree-description > p {
  line-height: 1.5;
}
